<div class='flex flex-col min-h-screen'>
  <div class='flex p-4 bg-white'>
    <LinkTo @params={{array 'index'}}>
      Community Groups
    </LinkTo>

    <span class='flex-grow'></span>

    {{#if this.sessionService.isAuthenticated}}
      <LinkTo @params={{array 'manage'}} class='px-1'>
        Manage
      </LinkTo>

      <button
        class='px-1 text-blue hover:text-blue-dark'
        onclick={{action 'signout'}}
      >
        Sign Out
      </button>
    {{else}}
      <LinkTo @params={{array 'signup'}} class='px-1'>
        Sign Up
      </LinkTo>

      <LinkTo @params={{array 'signin'}} class='px-1'>
        Sign In
      </LinkTo>
    {{/if}}
  </div>

  {{outlet}}
</div>