<div class='flex flex-col min-h-screen'>
  <div class='flex p-4 bg-grey-darker'>
    <LinkTo
      class='text-white hover:text-blue-lightest'
      @params={{array 'index'}}
    >
      Community Groups
    </LinkTo>

    <span class='flex-grow'></span>

    {{#if this.sessionService.isAuthenticated}}
      <LinkTo
        class='px-1 text-white hover:text-blue-lightest'
        @params={{array 'manage'}}
      >
        Manage
      </LinkTo>

      <button
        class='px-1 text-white hover:text-blue-lightest'
        onclick={{action 'signout'}}
      >
        Sign Out
      </button>
    {{else}}
      <LinkTo
        class='px-1 text-white hover:text-blue-lightest'
        @params={{array 'signup'}}
      >
        Sign Up
      </LinkTo>

      <LinkTo
        class='px-1 text-white hover:text-blue-lightest'
        @params={{array 'signin'}}
      >
        Sign In
      </LinkTo>
    {{/if}}
  </div>

  {{outlet}}
</div>